.poolContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.webviewStack {
  position: relative;
  flex: 1;
  min-height: 0;
}

.webviewStack webview {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border: none;
}

.activeWebview {
  position: absolute;
  inset: 0;
  background: var(--color-bg);
  border: none;
}

.hiddenWebview {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  border: none;
}
