.logo {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #edf6ea;
}

.logo img {
  width: 28px;
  height: 28px;
}
