*.cpuprofile
*.deb
*.log
**/__pycache__/
**/.DS_Store
**/.venv/
**/.vs/
**/bin/
**/dist/
**/FileContentIndex/
**/node_modules/
**/obj/
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc
.env.*.local
**/coverage/
TODO.txt
web/lnweb-api/deployment-tests/latest-responses/
web/terraform/terraform.tfstate
web/terraform/terraform.tfstate.backup
web/terraform/.terraform/
web/terraform/terraform-provider-*
