.appShell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: min(1320px, 95vw);
  max-width: 100%;
  margin: 0 auto;
  min-height: 0;
  align-self: center;
}

:global(main:has([data-map-container])),
:global(main:has([data-area-map])) {
  width: 100%;
  max-width: none;
  margin: 0;
  align-self: stretch;
}
