#map {
    width: 100%;
    height: 100%;
}

.leaflet-control-size {
    text-align: center;
    align-content: center;
    width: 16ex;
    padding: 0px;
}

.leaflet-control-locate {
    background-color: white;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: pointer;
}

.satellite-view-filter {
    filter: hue-rotate(20deg) brightness(1.0) saturate(1.2);
}


.night-mode .leaflet-tile {
    filter: invert(100%) hue-rotate(180deg) brightness(0.9);
}

.leaflet-control-night-mode-to-night {
    background-color: midnightblue;
    cursor: pointer;
    padding: 5px;
}


.leaflet-control-night-mode-to-day {
    background-color: skyblue;
    cursor: pointer;
    padding: 5px;
}

/* Zone styles */
.zone-style-1 {
    stroke: blue;
    stroke-width: 2;
    fill: blue;
    fill-opacity: 0.2;
}

.zone-style-2 {
    stroke: purple;
    stroke-width: 2;
    fill: purple;
    fill-opacity: 0.2;
}

.zone-style-3 {
    stroke: green;
    stroke-width: 2;
    fill: green;
    fill-opacity: 0.2;
}

.zone-style-4 {
    stroke: orange;
    stroke-width: 2;
    fill: orange;
    fill-opacity: 0.3;
}

/* Zone styles (no fill) */
.zone-style-1-nofill {
    stroke: #0000b3; /* Darkened blue */
    stroke-width: 3;
    filter: url(#glow-drop-shadow); /* Apply drop-shadow filter */
}

.zone-style-2-nofill {
    stroke: #660066; /* Darkened purple */
    stroke-width: 3;
    filter: url(#glow-drop-shadow); /* Apply drop-shadow filter */
}

.zone-style-3-nofill {
    stroke: #006600; /* Darkened green */
    stroke-width: 3;
    filter: url(#glow-drop-shadow); /* Apply drop-shadow filter */
}

.zone-style-4-nofill {
    stroke: #cc5200; /* Darkened orange */
    stroke-width: 3;
    filter: url(#glow-drop-shadow); /* Apply drop-shadow filter */
}

.highlighted-network {
    fill-opacity: 0.4 !important;
    stroke-width: 4 !important;
}

    /* Variant for elements with classes ending in '-nofill' */
    .highlighted-network[class*="-nofill"] {
        stroke-width: 5 !important; /* Keep the thicker stroke */
    }

.leaflet-control-locate {
    background-image: url('https://cdn.litternetworks.org/images/maps/icon-geolocation.png');
}

/* Style for the Street View icon */
.leaflet-control-streetview {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

    .leaflet-control-streetview img {
        display: block;
    }

.leaflet-control-frame-all {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

