.widget {
  display: flex;
  flex: 1;
  gap: 12px;
  align-items: center;
}

.buttonRow {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
}

.button {
  border: 2px solid rgba(55, 181, 119, 0.8);
  height: 36px;
}

.spinner {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 18px;
  animation: pulse 0.8s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
